APP_NAME=Influencia
APP_ENV=dev
APP_KEY=base64:O9CyWkLUojRIlTMfzKnwNl2kMNnSNCSX7LYBFedfdHw=
APP_DEBUG=falseAPP_URL=http://influencia.tca.ma

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=bvtctbgvek
DB_USERNAME=bvtctbgvek
DB_PASSWORD=4P6KhRy5CS

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

### SCRAPER ###
INSTAGRAM_ACCOUNT=influencia.app
INSTAGRAM_PASSWORD=inf2020@
INSTAGRAM_SCHEDULE=00:00
SHORTLINK_LENGTH=8
CURRENCYLAYER_SECRET=f23640fa274417096f2b076f4d3d0e41
IPINFOIO_TOKEN=d22d5a4ece26c2
USD2EUR=0.84
FBCOSTPERIMPRESSIONS=7.19
MAIN_PROXY_IP=37.48.118.90
MAIN_PROXY_PORT=13042
MAIN_PROXY_PROTOCOL=http
DEV_SERVER_IP=178.128.198.187
IMAP_SERVER=mail11.lwspanel.com
IMAP_EMAIL=influenciaapp@baddi.info
IMAP_PASSWORD=yG6$YA8xP!
