@import "~material-design-icons-iconfont/dist/material-design-icons";

.text-center{
    text-align: center !important;
}

.icon-link{
    color: #039be5 !important;
    margin-right: 8px;
    display: unset;
    font-size: unset;
    padding: unset;

    &:hover{
        opacity: .7;
    }
    &:last-child{
        margin-right: 0;
    }
}

.instagram-radio{
    color: #DD2A7B;
}
.snapchat-radio{
    margin-left: 2rem;
    color: #FFFC00;
}

.youtube-radio{
    margin-left: 2rem;
    color: #FF0000;
}

.form-control{
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.dashboard__content{
    overflow-x: hidden;
}

.table-with-profile td img{
    max-width: 36px;
    border-radius: 50%;
}

.material-table table{
    width: 100% !important;
}
.material-table table th{
    text-align: left !important;
}

.table thead th{
    color: rgba(0, 0, 0, 0.54);
    font-weight: 100;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 0.8rem 0.6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    min-height: 64px;
    text-align: left;
}

span.status{
    display: flex;
    align-items: center;
    padding: 2px 4px;
    cursor: pointer;

    &::before{
        content: "";
        width: 12px;
        height: 12px;
        display: inline-flex;
        border-radius: 50%;
        margin-right: 6px;
    }

    &-success::before{
        background: #09d260;
    }

    &-danger::before{
        background: #f44336;
    }
}

.influencer{
    padding: .5rem 1rem;

    &-details{
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;

        &-name{
            margin: 0rem .7rem;

            h4{
                font-size: 16pt;
                text-transform: uppercase;
                margin: 0.5rem 0;
            }

            p{
                font-size: 10pt;
                color: gray;
            }
        }

        &-picture{
            img{
                width: 100px;
                height: auto;
                border-radius: 50%;
            }
        }

        ul{
            color: #039be5;
            font-size: 12pt;

            li{
                display: inline;
                margin: 0 .3rem;

                a{
                    color: #039be5;
                    text-decoration: none;
                    &:hover{
                        color: adjust-color($color: #039be5, $alpha: -0.5)
                    }
                }
            }
        }

        &-bar{
            display: inline-flex;
            width: 100%;
            height: 20px;
            border-radius: 6px;
            margin: .5rem 0 0 0;
            overflow: hidden;

            span{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 100%;
                font-size: 10pt;
                color: white;
                padding: .2rem 1rem;
            }

            &-instagram{
                background-color: #DD2A7B;
            }
        }
    }

    &-posts{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: .5rem;
        margin-top: 1rem;

        &-card{
            position: relative;
            flex: 0 0 calc(25% - .5rem);
            // margin-right: auto;
            overflow: hidden;
            border-color: rgba(0, 0, 0, 0.12);
            border-radius: .5rem;
            box-sizing: border-box;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);

            &:hover{
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }

            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            &-type{
                z-index: 1000;
                position: absolute;
                top: 20px;
                right: 20px;
                color: white;
                font-size: 16pt;
            }

            &-attr{
                display: none !important;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 12pt;
                background: rgba(0, 0, 0, 0.7);
                cursor: pointer;

                > *{
                    margin: 0 .5rem;
                    cursor: pointer;
                }

                &.active{
                    display: flex !important;
                }
            }
        }
    }
}

.egg-blue{
    color: #00d6cd;
    background-color: rgb(0 214 205 / 25%);
}
.purple{
    color: #7a5cff;
    background-color: rgb(122 92 255 / 25%);
}
.green{
    color: #a5d845;
    background-color: rgb(165 216 69 / 25%);
}
.blue{
    color: #073ed0;
    background-color: rgb(7 62 208 / 25%);
}
.yellow{
    color: #f6cc27;
    background-color: rgb(246 204 39 / 25%);
}

.card-with-table{
    margin: 1rem;
    padding: 1rem;
    background: #fff;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

    h4{
        margin: 0;
        margin-bottom: 1rem;
    }

    table{
        border: none !important;
        box-shadow: none !important;
    }
}

.campaign{
    padding: 0 1rem;

    .influencers-avatars{
        list-style: none;

        h4{
            margin: 0;
            margin-bottom: 1rem;
            text-transform: capitalize;
        }

        li{
            display: inline;
            cursor: pointer;

            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 1px solid;
                border-color: rgba(0, 0, 0, 0.12);
                box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            }
        }
    }
    .cards{
        &.statistics{
            flex-wrap: wrap;
            gap: 1rem;

            .card{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                flex: 0 0 calc(50% - .777rem);
                margin: 0;

                .title{
                    display: inline-flex;

                    svg{
                        padding: 12px 12px;
                        font-size: 42pt;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                    }

                    .numbers{
                        margin: .2rem 1rem;

                        h4{
                            font-size: 16pt;
                            margin: 0;
                            margin-bottom: .3rem;
                            color: #000629;
                        }
                        span{
                            font-size: 10pt;
                            color: #a4abc1;
                            text-transform: uppercase;
                        }
                    }
                }

                // canvas{
                //     width: 540px !important;
                //     height: 270px !important;
                // }

                span{
                    color: #000629;
                    font-size: 10pt;
                    font-weight: bold;
                    margin-top: 1rem;
                }
            }
        }

        &.sentiments{
            .card{
                flex: 0 0 calc(50% - .777rem);

                h5{
                    margin: 0;
                }
                canvas{
                    margin: 1rem 0rem;
                }
                span{
                    float: right;
                    font-size: 8pt;
                    font-style: italic;
                    color: #333;
                }

                &.emojis{
                    ul{
                        display: flex;
                        gap: 5rem;
                        align-items: center;
                        justify-content: center;
                        height: calc(100% - 3.7rem);

                        li{
                            display: grid;
                            text-align: center;
                            padding: 1rem;
                            font-size: 32pt;
                            cursor: pointer;

                            span{
                                margin-top: 1rem;
                                font-weight: bold;
                                font-style: normal;
                                background: #F2F5FC;
                                padding: 6px;
                                border-radius: 12px;
                                color: #333;
                            }
                        }
                    }

                    span{
                        float: right;
                        font-size: 8pt;
                        font-style: italic;
                        color: #333;
                    }
                }
            }
        }
    }

    .posts-section{
        h4{
            margin: 0;
            font-size: 16pt;
        }

        p{
            margin: .5rem 0;
            font-size: 10pt;
            font-weight: bold;
            color: #333;
        }
    }

    &-posts{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: .5rem;
        margin-top: 1rem;

        &-card{
            position: relative;
            flex: 0 0 calc(25% - .5rem);
            // margin-right: auto;
            overflow: hidden;
            border-color: rgba(0, 0, 0, 0.12);
            border-radius: .5rem;
            box-sizing: border-box;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);

            &:hover{
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }

            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            &-icons{
                z-index: 1000;
                position: absolute;
                top: 14px;
                left: 14px;
                color: white;
                font-size: 14pt;
                cursor: pointer;
            }

            &-attr{
                display: none !important;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 12pt;
                background: rgba(0, 0, 0, 0.7);
                cursor: pointer;

                > *, span > *{
                    margin: 0 .3rem;
                    cursor: pointer;
                }

                &.active{
                    display: flex !important;
                }
            }
        }
    }

    .by-influencers{
        margin-bottom: 2rem;
        padding: 1rem;
        background: #fff;
        border: 1px solid;
        border-color: rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

        h4{
            margin: 0;
            margin-bottom: 1rem;
        }

        table{
            border: none !important;
            box-shadow: none !important;
        }
    }

    .by-instagram-posts{
        @extend .by-influencers;

        overflow-x: auto;
    }
}

.vue-tags-input{
    max-width: unset !important;
    width: 100%;

    .ti-input{
        padding: 0 8px !important;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        outline: none;
        transition: all 0.3s ease-in-out;
        font-size: 0.9rem;
        font-weight: 100;
        color: #212121;

        &:focus{
            border-color: #1e212a;
        }

        .ti-tag{
            background-color: #039be5 !important;
        }
    }
}
