@import url(https://fonts.googleapis.com/css2?family=Muli:wght@200;

300;400;500;700);html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

* {
  text-rendering: optimizeLegibility;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;
  font-family: "Muli", sans-serif;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

p {
  font-weight: 200;
  line-height: 1.4;
}

h2 {
  font-size: 1.2rem;
}

ul {
  list-style: none;
  padding: 0;
}

.danger {
  color: #f44336;
}

.success {
  color: #09d261;
}

.btn.btn-success,
.btn.btn-danger {
  color: #fff;
  background-color: #09d261;
  font-size: 0.8rem;
  padding: 0.8rem 1.2rem;
}

.btn.btn-danger {
  background-color: #f44336;
}

.btn.btn-danger:hover {
  background-color: #f55145;
}

.btn.btn-success:hover {
  background-color: #0ae168;
}

button:disabled {
  opacity: 0.9;
  cursor: not-allowed;
}

.control + .control {
  margin-top: 1rem;
  width: 100%;
}

.forms {
  margin-top: 2rem;
}

.forms .from {
  transition: all 0.3s ease-in-out;
}

.control {
  position: relative;
}

.control label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
  color: #1e212a;
}

.control p {
  font-size: 0.77rem;
  margin-top: 0.2rem;
  color: rgba(153, 153, 153, 0.8);
}

.control input,
.control select {
  width: 100%;
  min-height: 35px;
  border: 1px solid #e0e0e0;
  padding: 0 0.6rem;
  border-radius: 4px;
  outline: none;
  transition: all 0.3s ease-in-out;
  font-size: 0.9rem;
  font-weight: 100;
  color: #212121;
}

.control input[type=file] {
  padding: 0.5rem;
}

.control input::-moz-placeholder {
  font-family: "Muli", sans-serif;
  font-size: 0.8rem;
  color: #cccc;
  font-weight: 100;
}

.control input:-ms-input-placeholder {
  font-family: "Muli", sans-serif;
  font-size: 0.8rem;
  color: #cccc;
  font-weight: 100;
}

.control input::-ms-input-placeholder {
  font-family: "Muli", sans-serif;
  font-size: 0.8rem;
  color: #cccc;
  font-weight: 100;
}

.control input::placeholder {
  font-family: "Muli", sans-serif;
  font-size: 0.8rem;
  color: #cccc;
  font-weight: 100;
}

.control input:hover {
  border-color: #a9b0c1;
}

.control input:hover ~ .icon svg {
  fill: #a9b0c1;
}

.control input:active {
  border-color: #2d323e;
}

.control input:focus {
  border-color: #1e212a;
}

.control .icon {
  width: 22px;
  height: auto;
  position: absolute;
  right: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
}

.control .icon svg {
  transition: all 0.2s ease-in-out;
  fill: #cccc;
}

.btn {
  border: none;
  border-radius: 4px;
  box-shadow: none;
  background: none;
  box-shadow: none;
  display: block;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  padding: 0.6rem 1rem;
  outline: none;
  cursor: pointer;
  font-weight: 100;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn-primary:hover {
  background-color: #038acc;
}

.btn-primary:active {
  background-color: #00131c;
}

.btn-blue {
  background-color: #039be5;
  color: #fff;
}

.radio-group__item {
  border: 1px solid #e0e0e0;
  padding: 1rem;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0), 0 4px 5px 0 rgba(0, 0, 0, 0), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.radio-group__item.active {
  border-color: #09d261;
}

.radio-group__item:hover {
  background-color: #fafafa;
}

.radio-group__item + .radio-group__item {
  margin-top: 0.5rem;
}

.radio-group__item p {
  font-weight: 100;
  font-size: 0.77rem;
  color: #2d323e;
  margin-top: 0.4rem;
  margin-bottom: 0;
}

.radio-group__item span {
  color: #1e212a;
  font-weight: 100;
  letter-spacing: 0;
}

.login {
  width: 100%;
  overflow: hidden;
  background: url(http://angular-material.fusetheme.com/assets/images/backgrounds/dark-material-bg.jpg) no-repeat;
  background-size: cover;
  min-width: 0;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.login-form {
  background-color: #fff;
  flex: 0 0 25%;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.login-form h2 {
  font-weight: 400;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.login-form button {
  width: 100%;
  margin-top: 1.5rem;
}

.login-form__content {
  flex: 1;
}

.login-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  text-align: left;
  color: #fff;
}

.login-intro__content {
  max-width: 660px;
  margin: 0 auto;
}

.login-intro .logo {
  width: 120px;
}

.dashboard {
  min-height: 100vh;
  position: relative;
}

.dashboard__sidebar {
  z-index: 999;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
  position: absolute;
  height: 100vh;
  width: 280px;
  background-color: #2d323e;
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.1s ease-in-out;
}

.dashboard__sidebar .logo {
  width: 45px;
}

.dashboard__sidebar h1 {
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.2px;
  margin-left: 0.5rem;
}

.dashboard__sidebar header {
  background-color: #1e212a;
  display: flex;
  padding: 0.8rem;
  align-items: center;
  justify-content: space-between;
}

.dashboard__sidebar .dashboard__sidebar--content {
  display: flex;
  align-items: center;
}

.dashboard__sidebar .dashboard__sidebar--toggle {
  position: relative;
  display: block;
  width: 40px;
  padding: 0.5rem;
  cursor: pointer;
}

.dashboard__sidebar .dashboard__sidebar--toggle span {
  width: 24px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 0px;
  display: block;
  transition: all 0.3s ease-in-out;
}

.dashboard__sidebar .dashboard__sidebar--toggle:hover span {
  background: #b4b4b4;
}

.nav-collapsed .dashboard__content {
  margin-left: 70px;
}

.nav-collapsed .dashboard__sidebar {
  width: 70px;
}

.nav-collapsed .dashboard__sidebar h1,
.nav-collapsed .dashboard__sidebar .text {
  display: none;
}

.nav-collapsed .dashboard__sidebar h2,
.nav-collapsed .dashboard__sidebar p {
  opacity: 0;
  visibility: hidden;
}

.nav-collapsed .dashboard__sidebar .dashboard__sidebar--toggle {
  display: none;
}

.nav-collapsed .dashboard__sidebar .dashboard__sidebar__profile img {
  max-width: 50px;
}

.nav-collapsed .dashboard__sidebar .dashboard__sidebar__navigation .icon {
  margin: 0 auto;
}

.dashboard__content {
  margin-left: 280px;
  transition: all 0.1s ease-in-out;
  position: relative;
  max-height: 100vh;
  height: 100vh;
  overflow-y: auto;
  overflow-x: auto;
}

.dashboard__sidebar__profile {
  text-align: center;
  border: 1px solid transparent;
  position: relative;
  background: #1e212a;
  min-height: 130px;
}

.dashboard__sidebar__profile h2 {
  font-weight: 400;
  font-size: 1rem;
}

.dashboard__sidebar__profile p {
  font-size: 0.9rem;
  letter-spacing: 0.6px;
  color: rgba(255, 255, 255, 0.5);
}

.dashboard__sidebar__profile img {
  border-radius: 50%;
  max-width: 80px;
}

.dashboard__sidebar__profile .avatar {
  margin-bottom: -2.5rem;
}

.dashboard__sidebar__navigation {
  margin-top: 2.8rem;
}

.dashboard__sidebar__navigation li {
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 0.8rem;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

.dashboard__sidebar__navigation li svg {
  fill: #fff;
  width: 22px;
}

.dashboard__sidebar__navigation li:hover {
  background-color: #242832;
}

.dashboard__sidebar__navigation li.active {
  background-color: #383e4d;
}

.dashboard__sidebar__navigation a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 200;
}

.dashboard__sidebar__navigation .icon {
  width: 28px;
  margin-right: 0.5rem;
}

.dashboard__sidebar__navigation .text {
  letter-spacing: 0.1px;
  font-size: 0.85rem;
}

.dashboard__navigation {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.dashboard__navigation--item {
  position: relative;
  z-index: 10000;
}

.dashboard__navigation--item button {
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 0.2rem 0.8rem;
}

.dashboard__navigation--item button:hover {
  background-color: #f5f5f5;
}

.dashboard__navigation--item .avatar {
  margin-right: 0.5rem;
}

.dashboard__navigation--item img {
  width: 45px;
  border-radius: 50%;
}

.dashboard__navigation--item .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard__navigation--item .icon {
  margin-left: 0.5rem;
}

.dashboard__navigation--item .text svg {
  width: 16px;
  height: auto;
  margin-bottom: -3px;
}

.dropdown {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  border-radius: 4px;
  padding: 0.5rem 0;
  position: absolute;
  left: 4px;
  right: 4px;
  margin-top: 4px;
}

.dropdown ul {
  margin: 0;
}

.dropdown a {
  display: flex;
  align-items: center;
  color: rgba(51, 51, 51, 0.87);
  text-decoration: none;
  padding: 0.2rem 0.2rem;
  font-size: 0.9rem;
  font-weight: 200;
  transition: all 0.3s ease-in-out;
}

.dropdown a:hover {
  background-color: #f5f5f5;
}

.dropdown .icon {
  margin-right: 0.5rem;
}

.dropdown .icon svg {
  width: 20px;
  fill: rgba(51, 51, 51, 0.87);
}

.nav-switch .dropdown {
  min-width: 200px;
}

.nav-switch .dropdown .icon {
  width: 35px;
}

.p-1 {
  padding: 1rem;
}

.cards {
  display: flex;
  margin-bottom: 2rem;
}

.card {
  padding: 1rem;
  flex: 0 0 calc(25% - .777rem);
  background: #fff;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.card + .card {
  margin-left: 1rem;
}

.cards .card .number {
  color: #039be5;
  font-weight: bold;
  font-size: 2.4rem;
  text-align: center;
}

.cards .card:nth-child(2) .number {
  color: #f44336;
}

.cards .card:nth-child(3) .number {
  color: #09d261;
}

.card .description {
  font-size: 0.7rem;
  font-weight: 400;
  text-align: center;
  color: rgba(0, 0, 0, 0.61);
}

.hero {
  background-color: #039be5;
  color: #fff;
  margin: 0;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero h1 {
  font-weight: bolder;
  margin-top: 0;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs li + li {
  margin-left: 1rem;
  position: relative;
}

.breadcrumbs li + li::before {
  content: ">";
  position: absolute;
  left: -11px;
  font-size: 0.6rem;
  top: 4px;
}

.breadcrumbs li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 100;
  transition: all 0.3s ease-in-out;
}

.breadcrumbs li:last-child a {
  color: #e0e0e0;
}

.breadcrumbs li a:hover {
  color: #e0e0e0;
}

.text-center {
  text-align: center !important;
}

a.icon-link {
  margin-right: 8px;
}

a.icon-link:hover {
  opacity: 0.7;
}

a.icon-link:last-child {
  margin-right: 0;
}

.instagram-radio {
  color: #DD2A7B;
}

.snapchat-radio {
  margin-left: 2rem;
  color: #FFFC00;
}

.youtube-radio {
  margin-left: 2rem;
  color: #FF0000;
}

.form-control {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dashboard__content {
  overflow-x: hidden;
}

.table-with-profile td img {
  max-width: 36px;
  border-radius: 50%;
}

span.status {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  cursor: pointer;
}

span.status::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
}

span.status-success::before {
  background: #09d260;
}

span.status-danger::before {
  background: #f44336;
}

.influencer {
  padding: 0.5rem 1rem;
}

.influencer-details {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.influencer-details-name {
  margin: 0rem 0.7rem;
}

.influencer-details-name h4 {
  font-size: 16pt;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.influencer-details-name p {
  font-size: 10pt;
  color: gray;
}

.influencer-details-picture img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.influencer-details ul {
  color: #039be5;
  font-size: 12pt;
}

.influencer-details ul li {
  display: inline;
  margin: 0 0.3rem;
}

.influencer-details ul li a {
  color: #039be5;
  text-decoration: none;
}

.influencer-details ul li a:hover {
  color: rgba(3, 155, 229, 0.5);
}

.influencer-details-bar {
  display: inline-flex;
  width: 100%;
  height: 20px;
  border-radius: 6px;
  margin: 0.5rem 0 0 0;
  overflow: hidden;
}

.influencer-details-bar span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  font-size: 10pt;
  color: white;
  padding: 0.2rem 1rem;
}

.influencer-details-bar-instagram {
  background-color: #DD2A7B;
}

.influencer-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 1rem;
}

.influencer-posts-card {
  position: relative;
  flex: 0 0 calc(25% - .5rem);
  margin-right: auto;
  overflow: hidden;
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.influencer-posts-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.influencer-posts-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.influencer-posts-card-type {
  z-index: 1000;
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 16pt;
}

.influencer-posts-card-attr {
  display: none !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12pt;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.influencer-posts-card-attr > * {
  margin: 0 0.5rem;
  cursor: pointer;
}

.influencer-posts-card-attr.active {
  display: flex !important;
}

.egg-blue {
  color: #00d6cd;
  background-color: rgba(0, 214, 205, 0.25);
}

.purple {
  color: #7a5cff;
  background-color: rgba(122, 92, 255, 0.25);
}

.green {
  color: #a5d845;
  background-color: rgba(165, 216, 69, 0.25);
}

.blue {
  color: #073ed0;
  background-color: rgba(7, 62, 208, 0.25);
}

.yellow {
  color: #f6cc27;
  background-color: rgba(246, 204, 39, 0.25);
}

.campaign .cards.statistics {
  flex-wrap: wrap;
  gap: 0.5rem;
}

.campaign .cards.statistics .card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 0 0 calc(50% - .777rem);
  margin: 0;
}

.campaign .cards.statistics .card .title {
  display: inline-flex;
}

.campaign .cards.statistics .card .title svg {
  padding: 12px 12px;
  font-size: 42pt;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.campaign .cards.statistics .card .title .numbers {
  margin: 0.2rem 1rem;
}

.campaign .cards.statistics .card .title .numbers h4 {
  font-size: 16pt;
  margin: 0;
  margin-bottom: 0.3rem;
  color: #000629;
}

.campaign .cards.statistics .card .title .numbers span {
  font-size: 10pt;
  color: #a4abc1;
  text-transform: uppercase;
}

.campaign .cards.statistics .card span {
  color: #000629;
  font-size: 10pt;
  font-weight: bold;
  margin-top: 1rem;
}

.campaign .cards.sentiments .card {
  flex: 0 0 calc(50% - .777rem);
}

.campaign .cards.sentiments .card h5 {
  margin: 0;
}

.campaign .cards.sentiments .card canvas {
  margin: 1rem 0rem;
}

.campaign .cards.sentiments .card span {
  float: right;
  font-size: 8pt;
  font-style: italic;
  color: #333;
}

.campaign .cards.sentiments .card ul {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.campaign .cards.sentiments .card ul li {
  display: grid;
  text-align: center;
  padding: 1rem;
  font-size: 32pt;
}

.campaign .cards.sentiments .card ul li span {
  margin-top: 1rem;
  font-weight: bold;
  font-style: normal;
  background: #F2F5FC;
  padding: 6px;
  border-radius: 12px;
  color: #333;
}

.campaign .posts-section h4 {
  margin: 0;
  font-size: 16pt;
}

.campaign .posts-section p {
  margin: 0.5rem 0;
  font-size: 10pt;
  font-weight: bold;
  color: #333;
}

.campaign-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 1rem;
}

.campaign-posts-card {
  position: relative;
  flex: 0 0 calc(25% - .5rem);
  overflow: hidden;
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.campaign-posts-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.campaign-posts-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.campaign-posts-card-icons {
  z-index: 1000;
  position: absolute;
  top: 14px;
  left: 14px;
  color: white;
  font-size: 14pt;
}

.campaign-posts-card-attr {
  display: none !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12pt;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.campaign-posts-card-attr > * {
  margin: 0 0.5rem;
  cursor: pointer;
}

.campaign-posts-card-attr.active {
  display: flex !important;
}

.table {
  background: #fff;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.table thead td {
  min-height: 64px;
}

.table thead td {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 100;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0.8rem 0.6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.table tbody td {
  font-size: 0.8rem;
  padding: 0.8rem 0.6rem;
  color: rgba(0, 0, 0, 0.61);
}

.table tbody a {
  color: #039be5;
}

.badge {
  border-radius: 4px;
  padding: 0.4rem 0.5rem;
  font-size: 0.7rem;
  display: block;
  text-align: center;
}

.badge + .badge {
  margin-top: 0.4rem;
}

.badge-success {
  background: #09d261;
  color: #fff;
}

.badge-info {
  background: #039be5;
  color: #fff;
}

.table li + li {
  margin-top: 0.4rem;
}

.table .info {
  text-align: center;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
}

.modal-content {
  max-height: 95%;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.9rem 1.4rem;
  min-width: 600px;
  border-radius: 4px;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  z-index: 99;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-form__actions {
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
}

.modal-form__actions button + button {
  margin-left: 0.5rem;
}

.modal-form__actions {
  border-top: 1px solid rgba(204, 204, 204, 0.43);
  padding-top: 1rem;
}

.modal .heading {
  margin-top: 0;
  border-bottom: 1px solid rgba(204, 204, 204, 0.43);
  padding-bottom: 1rem;
  font-weight: 300;
}

.modal-form__heading {
  font-size: 0.9rem;
  font-weight: 400;
}

.group {
  display: flex;
  align-items: center;
}

.group span {
  margin: 0 0.3rem;
  font-size: 0.8rem;
  color: #1e212a;
}

